/******************/
/* Règles de base */
/******************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Arial";
    background-image: url("../images/background.jpg");
    background-size: 250vw;
    height: 100vh;
    overflow-y: hidden;
}

#main-menu{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    width: 20vw;
    height: 100vh;
    margin-bottom: 20%;
}

#logo-site{
    display: block;
    margin: 0 auto;
    width: 50%;
}

.text-title-gold{
    color: #c6a53e;
}

#menu-navigation>nav>li{
    font-size: 2.5rem;
    margin: 15% 0 15% 10%;
}

#menu-navigation>nav>li>a{
    text-decoration: none;
    color: rgb(187, 185, 185);
}

#menu-navigation>nav>li.active>a{
    color: #c6a53e;
}

#menu-navigation>nav>li:nth-child(2).active::marker{
    content: url(../images/flecheactive.png);
}

#menu-navigation>nav>li:nth-child(2)::marker{
    content: url(../images/fleche.png);
}

#menu-navigation>nav>li:nth-child(3).active::marker{
    content: url(../images/filmsactive.png);
}

#menu-navigation>nav>li:nth-child(3)::marker{
    content: url(../images/films.png);
}

#menu-navigation>nav>li:nth-child(4).active::marker{
    content: url(../images/Planningactive.png);
}

#menu-navigation>nav>li:nth-child(4)::marker{
    content: url(../images/Planning.png);
}

#menu-navigation>nav>li:nth-child(5).active::marker{
    content: url(../images/concoursactive.png);
}

#menu-navigation>nav>li:nth-child(5)::marker{
    content: url(../images/concours.png);
}

#menu-navigation>nav>li:nth-child(6).active::marker{
    content: url(../images/contactactive.png);
}

#menu-navigation>nav>li:nth-child(6)::marker{
    content: url(../images/contact.png);
}

#links-social-networks{
    margin-top: 25%;
    margin-left: 10%;
    display: flex;
    width: 25%;
}

#link-discord{
    width: 50%;
}

#img-link-discord{
    width: 100%;
}

#link-facebook{
    width: 50%;
}

#img-link-facebook{
    width: 100%;
}

#menu-copyright{
    position: absolute;
    bottom: 3rem;
    left: 10rem;
}

#main-contenu{
    height: 100vh;
    position: absolute;
    display: flex;
    left: 21%;
    top: 0;
}

#home-live-twitch{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 120rem;
}

#home-presentation-contain{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 50%;
    transform: translateY(-50%);
    left: 100vw;
    width: 100vw;
    padding-left: 10%;
}

#mmi_button::before{
    content: ">";
}

#mmi_button{
    font-size: 5rem;
    text-decoration: none;
    color: white;
    position: absolute;
    top: 50%;
    left: 72vw;
    transform: translateY(-50%);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0 1.25rem;
}

#title-home{
    text-transform: uppercase ;
    color: white;
    font-size: 8rem;
}

#home-text{
    display: flex;
    color: white;
    font-size: 2.7rem;
}

#home-text-{
    margin:auto;
    text-align: justify;
    width: 50%;
}

.gold-underline{
    text-decoration: #c6a53e underline;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #arrive-scroll{
      position: absolute;
      left: 200vw;
  }

.unable{
    display: none;
}

.current{
    display: block;
}

#section-films{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -1vw;
    padding-left: 10vw;
    background-color: rgba(0, 0, 0, 0.5);
}

#title-films{
    text-transform: uppercase ;
    color: white;
    font-size: 8rem;
    margin-bottom: 1.5rem;
}

#all-films{
    color: white;
    display: flex;
    flex-wrap: wrap;
    width: 125vw;
}

.card-film{
    display: flex;
    margin: 1rem;
    width: 35vw;
}

.film-poster{
    display: flex;
}

#poster-2nuts{
    width: 15rem;
    height: 20rem;
    background-image: url(../images/affiches/ok.jpg);
    background-size: 100%;
}

.film-synopsis{
    margin-left: 1rem;
}

.film-title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.film-synopsis-text{
    width: 100%;
    font-size: 1.4rem;
    text-align: justify;
}

.film-poster-vote>p{
    position: relative;
    top: 0;
    left: -4rem;
    font-size: 3rem;
    transform: rotate(-90deg);
	transform-origin: right top;
}
/**********/
/* Règles */
/**********/
